@import 'tailwindcss';

@theme {
  --color-primary: #003159;
  --color-white: #fff;
  --color-background: #1e1e1d;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
}
@layer base {
  p {
    @apply text-[17px] my-2;
  }
  h1 {
    @apply text-[2.25rem] leading-tight;
  }

  h2 {
    @apply text-[2rem] my-2;
  }

  h3 {
    @apply text-[1.75rem] my-2;
  }

  ul {
    @apply list-disc list-inside;
  }

  ol {
    @apply list-decimal list-inside;
  }
  code {
    @apply bg-slate-600 rounded-sm px-1 w-full my-2;
  }

  hr {
    @apply w-full my-4 border-gray-400  border-t-2;
  }
  a {
    @apply underline;
  }
}

ul ul {
  margin-left: 1.25rem;
  list-style: circle;
}

.code-block-wrapper {
  padding: 10px;
  color: slategray;
  width: 100%
}

.code-block {
  background-color: initial !important;
  counter-reset: step;
  counter-increment: step 0;
  min-width: max-content; 
  background-color: inherit; 
}
.code-block .line {
  padding-right: 15px;
}

.code-block .line:first-child {
  margin-left: -4px;
}

pre.shiki {
  background-color: slategray;
  overflow-x: auto;
  min-width: max-content;
}

.code-block .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
}
code .line:only-child::before {
  content: none;
}